:root{
    --p: #046F3C;
    --p2: #05BA63;
    --p3: #05BA63;
    --p4: #A0F0C9;
    --pl: #E6F3ED;

    --s: #B33C3D;
    --s2: #C9595A;
    --s3: #D06C6D;
    --s4: #D67F7F;
    --sl: #E8DDDD;

}


/* Background color classes */
.bg-p { background-color: var(--p); }
.bg-p2 { background-color: var(--p2); }
.bg-p3 { background-color: var(--p3); }
.bg-p4 { background-color: var(--p4); }
.bg-pl { background-color: var(--pl); }

.bg-s { background-color: var(--s) !important; }
.bg-s2 { background-color: var(--s2); }
.bg-s3 { background-color: var(--s3); }
.bg-s4 { background-color: var(--s4); }
.bg-sl { background-color: var(--sl); }

/* Text color classes */
.text-p { color: var(--p); }
.text-p2 { color: var(--p2); }
.text-p3 { color: var(--p3); }
.text-p4 { color: var(--p4); }
.text-pl { color: var(--pl); }

.text-s { color: var(--s); }
.text-s2 { color: var(--s2); }
.text-s3 { color: var(--s3); }
.text-s4 { color: var(--s4); }
.text-sl { color: var(--sl); }

/* Deep color background with white text */
.bg-p, .bg-p2, .bg-p3, .bg-s, .bg-s2, .bg-s3 {
    color: white;
}

/* Light color background with deep color text */
.bg-p4, .bg-pl, .bg-s4, .bg-sl {
    color: var(--p);
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 70px;
}

.row-flex.gap{
    gap: 1rem !important;
}

.button{
    font-weight: bold;
    padding:  0.5rem !important;
    text-transform: uppercase;
    font-size: 0.7rem !important;
}
.btn_primary{
    background-color: var(--p) !important;
    color: #ffffff;
}

._main_section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 5%;
}
.home{
    padding: 120px 5% 2rem 5%;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.8' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cuse fill='%23fcfcfc' href='%23s' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(79 1000 750) scale(32.15) translate(-968.9 -726.67)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.no_display{
    display: none !important;
}
.active{
    font-weight: bolder;
    color: var(--p);
}
.section{
    margin-top: 1rem;
}
.section2{
    margin-top: 2rem;
}
.section4{
    margin-top: 4rem;
}

.width-1000-max{
    max-width: 1000px;
}
.light_curved{
    background-color: var(--pl);
    /* border-radius: 10rem; */
}

.header{
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}
.dashed{
    padding: 3px;
    width: 30px;
    border-radius: 3rem;
}
.central{
    align-items: center;
    justify-content: center;
}

[data-aos] {
overflow-x: none !important;
  }